#wk{
    background-color: #F3F4F5;
}
/*宣传图*/
#part{
    width: 100%;
    height:400px;
    position: relative;
}
#part img{
    width: 100%;
    height:100%;
}
/*#circle{*/
    /*width:8.5%;*/
    /*height:8.5%;*/
    /*background-color: #716B60;*/
    /*position: absolute;*/
    /*border-radius: 50%;*/
    /*top:3%;*/
    /*right:20%;*/
    /*opacity: 0.8;*/
/*}*/
#part01{
    width:10.5%;
    height:10.5%;
    position: absolute;
    top:3%;
    left:3%;
    border-radius: 50%;
    background-color: #716B60;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part01 img{
    width:50%;
    height:50%;
}
#part02{
    width:23%;
    height:9%;
    position: absolute;
    top:4%;
    right:3%;
    background-color:#716B60;
    display: flex;
    /*justify-content:space-around;*/
    align-items: center;
    opacity: 0.8;
    border-radius: 40px;
}
#part02-a{
    width:40%;
    height:60%;
    margin-left: 15%;
}
#part02-a img{
    width:70%;
    height:100%;
}
#part02-b{
    width:25%;
    height:50%;
}
#part02-b img{
    width:100%;
    height:100%;
}
#part-a{
    width: 21%;
    height:12px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position:absolute;
    /*background-color: #157efa;*/
    bottom: 4%;
    left:40%;
}
#parta-a{
    width: 9.5%;
    height:66.7%;
    background-color: #27070C;
    border-radius: 50%;
}
.parta-b{
    width: 9.5%;
    height:66.7%;
    background-color: #917778;
    border-radius: 50%;
}
/*第二部分：商品价格*/
#part2{
    width:100%;
    height:73px;
    background-color: white;
    position: relative;
    /*padding-top:10px ;*/

}
#part2a{

    width: 43%;
    height:37%;
    /*background-color: #E4007F;*/
    margin-left: 5%;
    display: flex;
    /*justify-content: ;*/
    /*left:4%;*/
    /*top:20%;*/

}
#part2a-c{
    width: 35%;
    height:90%;
    margin-top: 8%;
    position: relative;

}

#part2a img{
    width: 100%;
    height:100%;
    /*background-color: #E4007F;*/
}
#part2a-a{
    font-size:14px;
    color:white;
    position: absolute;
    top:10%;
    left:15%;
    /*left:3%;*/
    /*top:3%;*/
}
#part2a-b{
    font-size:30px;
    color:#222222;
    margin-top:3%;
    margin-left: 3%;


}
#part2b{
    font-size: 12px;
    color:#E43DA2;
    width: 25%;
    height:30%;
    /*background-color: #696C73;*/
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    right:5%;
    top:20%;
}
.part2b-a{
    width: 20%;
    height:80%;
    background-color: #FCEBF4;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part2c{
    margin-top:4% ;
    margin-left: 5%;
    position: relative;

}
.part2c-a{
    font-size: 16px;
    color:#98989F;
}
#part2c-b{
    display: block;
    font-size: 12px;
    color:#E43DA2;
    position: absolute;
    right:6%;
    top:-30%;
}
#part3-a{
    width:100%;
    height:104px;
    background-color: white;
}
#part3a{
    width: 94%;
    height:40% ;
    font-size: 15px;
    color:#222222;
    border-top: 3px #F7F7F7 solid;
    margin: auto;
    margin-top:9px;
    padding-top:4% ;

}
#part3b{
    width: 94%;
    height:40% ;
    font-size: 13px;
    color:#98989F;
    margin: auto;
}
/*第三部分：商品种类选择*/
#part3{
    width: 100%;
    height:243px;
    background-color:white;
    margin-top: 29%;

}
.hh{
    width:100%;
    height:22%;
    display: flex;
    align-items: center;
    /*border: 1px #E4007F solid;*/
}
.hh p{
    font-size: 16px;
    margin-left: 5%;
    color:#222222;
    font-weight: bold;

}
#aa{
    width:100%;
    height:37%;

}
.aa-a{
    width:28%;
    height:35%;
    border: 2px #E5E5E5 solid;
    display: flex;
    align-items: center;
    float:left;
    margin-left: 3%;
}
.aa-a img{
    width:25%;
    height:90%;
}
.aa-a span{
    font-size: 14px;
    color:#222222;
    margin-left: 20%;
}
#aa-b{
    width:28%;
    height:35%;
    border: 2px #F0A9D0 solid;
    display: flex;
    align-items: center;
    float:left;
    margin-left: 3%;
    margin-top: 3%;
    position: relative;
    /*background-color: #157efa;*/
}
#aa-b img{
    width:25%;
    height:90%;
}
#aa-b span{
    font-size: 14px;
    color:#E4007FF;
    margin-left: 20%;
}
#aa-b2{
    width: 0;
    height:0;
    /*background-color: #E4007F;*/
    position: absolute;
    bottom:0;
    right:0;
    border-bottom:20px  #E4007F solid ;
    border-right:0px transparent solid;
    border-left:20px transparent solid;
    border-top: 0px transparent solid;
}
#aa-b2 img{
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    bottom:-20px;
    right:0;
}

#aa-d{
    width:28%;
    height:35%;
    border: 2px #E5E5E5 solid;
    display: flex;
    align-items: center;
    float:left;
    margin-left: 3%;
    background-color: #F6F6F6;
    position:relative;
}
#aa-d img{
    width:25%;
    height:90%;
}
#aa-d span{
    font-size: 14px;
    color:#AEAEAE;
    margin-left: 20%;
}
#aad{
    width:100%;
    height:50%;
    position: absolute;
    background-color: #8C8C8C;
    bottom:0px;
    font-size: 10px;
    color: white;
    text-align: center;
    opacity: 0.8;
}

#aa-c{
    width:28%;
    height:13%;
    border: 2px #F0A9D0 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-left: 3%;
    position: relative;
}
#aa-c span{
    font-size: 14px;
    color:#222222;
    /*margin-left: 20%;*/
}
#aa-b3{
    width: 0;
    height:0;
    /*background-color: #E4007F;*/
    position: absolute;
    bottom:0;
    right:0;
    border-bottom:20px  #E4007F solid ;
    border-right:0px transparent solid;
    border-left:20px transparent solid;
    border-top: 0px transparent solid;
}
#aa-b3 img{
    display: block;
    width:12px;
    height:12px;
    position: absolute;
    bottom:-20px;
    right:0;
}
#aa-e{
    width:28%;
    height:13%;
    border: 2px #E5E5E5 solid;
    display: flex;
    align-items: center;
    justify-content: center;
    float:left;
    margin-left: 3%;
}
#aa-e span{
    font-size: 14px;
    color:#222222;
    /*margin-left: 20%;*/
}
/*第四部分：配送*/
#part4{
    width:100%;
    height:48px;
    margin-top: 3%;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 2px #F7F7F7 solid;
}
#part4-a{
    font-size: 15px;
    color:#222222;
    font-weight: bold;
    margin-left: 4%;
}
#part4-b{
    font-size: 13px;
    color:#585C64;
    margin-left: 3%;
}
#part4-c{
    width:4%;
    height:30%;
    margin-top:-1%;
    margin-left:2%;
}
#part4-c img{
    width:100%;
    height:100%;
}
/*第五部分*/
#part5{
    width:100%;
    height:117px;
    background-color: white;
}
#part5-a{
    font-size: 15px;
    color:#222222;
    font-weight: bold;
    margin-left: 3%;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 300%;
    text-indent: 1%;
}
.part5-b{
    margin-left: 4%;
    font-size: 13px;
    color:#585C64;
    line-height: 230%;
    text-indent: 1%;
}
#part6{
    width:100%;
    height: 125px;
    margin-top: 3%;
    background-color: white;


}
.part6-a{
    display: flex;
    align-items: center;
}
.part6a{
    width:5%;
    height:5%;
    margin-left: 4%;
    margin-top: 3.5%;
}
.part6a img{
    width:100%;
    height:100%;
}
.part6a-a{
    display:block;
    font-size: 13px;
    color:#585C64;
    line-height: 10%;
    text-align: center;
    margin-left:1.5%;
    margin-top: 2%;
}
/*商品详情介绍*/
#part7{
    width: 100%;
    height:270px;
    background-color: white;
    margin-top: 3%;

}
#part7a{
    width: 90%;
    height: 20%;
    /*background-color: #E4007F;*/
    display: flex;
    align-items: center;
    margin: auto;
    border-bottom: 2px #F7F7F7 solid;
}
#part7a span{
    font-size: 15px;
    font-weight: bold;
    color: #222222;
}
#part7b{
    width: 90%;
    height:78%;
    margin: auto;
    position: relative;
}
#part7b img{
    width: 100%;
    height:100%;
}
#part7b-a{
    position: absolute;
    top:10%;
    left: 3%;
    font-size: 14px;
    color:#ADA5C5;
}
#part7b-b{
    position: absolute;
    bottom:17%;
    left:40%;
    font-size: 14px;
    color:#E739C4;
}
#part7b-b span{
    font-size: 16px;
    color:black;
    font-weight: bold;
}
#part7b-c{
    position: absolute;
    top:10%;
    right:4%;
    font-size: 14px;
    color:#ADA5C5;
}
#part8{
    width:100%;
    height:96px;
    margin-top: 3%;
    background-color: white;
    display: flex;
    align-items: center;
    border-bottom: 2px #F7F7F7 solid;;
}
#part8a{
    width:16%;
    height:66.7%;
    border: 1px #F4F4F4 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    /*position: relative;*/
    /*top:20%;*/
    /*left:5%;*/
}
#part8a img{
    width:90%;
    height:50%;
}
#part8b{
    display: block;
    height: 50%;
    font-size: 15px;
    color:black;
    margin-left: 5%;
}
#part8b span{
    font-size: 15px;
    color:#98989F;

}
#part-8c{
    width: 18%;
    height:30%;
    font-size: 15px;
    color:#E566AC;
    border: 2px #E566AC solid;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    margin-left:20%;
}
#part9{
    width:100%;
    height: 58px;
    color:#585C64;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}
#part10{
    width:100%;
    height:210px;
    margin-top: 3%;
    background-color: white;
    position: relative;
}
#part10 h3{
    font-size: 16px;
    color:#222222;
    position: relative;
    top:6%;
    margin-top: 0;
    margin-bottom: 6%;
    margin-left: 5%;

}
#part10-a{
    font-size: 15px;
    color:#98989F;
    margin-top:2%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}
#part10-a span{
    font-size: 15px;
    color:#585C64;
    margin-left: 10%;
}
#part10-b{
    font-size: 15px;
    color:#98989F;
    margin-top:2%;
    margin-left: 5%;
    margin-bottom:2.5%;
}
#part10-b span{
    font-size: 15px;
    color:#585C64;
    margin-left: 2%;
}
#part10-c{
    font-size: 15px;
    color:#98989F;
    margin-top:2%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}
#part10-c span{
    font-size: 15px;
    color:#585C64;
    margin-left: 10%;
}
#part10-d{
    font-size: 15px;
    color:#98989F;
    margin-top:2%;
    margin-left: 5%;
    margin-bottom: 2.5%;
}
#part10-d span{
    font-size: 15px;
    color:#585C64;
    margin-left: 2%;
}
#part10-e{
    font-size: 15px;
    color:#98989F;
    margin-left: 75%;
    margin-bottom: 2%;
    margin-top:2%;
}
#part10f{
    width: 4%;
    height: 8%;
    position :absolute;
    bottom: 13%;
    right:5%;
}
#part10f img{
    width: 100%;
    height: 100%;
}
#part11{
    width:100%;
    height:120px;
    background-color: white;
    margin-top: 3%;
}
#part11 span{
    display: block;
    font-size: 16px;
    color:#222222;
    font-weight: bold;
    position: relative;
    top:10%;
    margin-bottom: 6%;
    margin-left: 5%;
    padding: 0;
}
#part11a{
    width: 77%;
    height:42%;
    border: 2px #E6E6E6 solid;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    color:#222222;
    position: relative;
}
#part11a-a{
    width:7%;
    height:40%;
    position: absolute;
    top:33%;
    left:32%;
}
#part12{
    width:100%;
    height: 58px;

    display: flex;
    align-items: center;
    background-color: white;
    /*margin-left: 10%;*/
}
#part12 span{
    color:#222222;
    font-size: 16px;
    background-color: white;
    font-weight: bold;
    margin-left: 5%;
}
#photo1{
    width: 100%;
    height:167px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo1 img{
    width: 80%;
    height:80%;
}
#photo2{
     width: 100%;
     height:545px;
     background-color: white;
     display: flex;
     align-items: center;
     justify-content: center;
 }
#photo2 img{
    width: 100%;
    height:100%;
}
#photo3{
    width: 100%;
    height:121px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo3 img{
    width: 100%;
    height:100%;
}
#photo4{
    width: 100%;
    height:456px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo4 img{
    width: 100%;
    height:100%;
}
#photo5{
    width: 100%;
    height:340px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo5 img{
    width: 100%;
    height:100%;
}
#photo6{
    width: 100%;
    height:756px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo6 img{
    width: 100%;
    height:100%;
}
#photo7{
    width: 100%;
    height:849px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo7 img{
    width: 100%;
    height:100%;
}
#photo8{
    width: 100%;
    height:583px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo8 img{
    width: 100%;
    height:100%;
}
#db{
    width: 100%;
    height: 42px;
    background-color:#F3F4F5 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
#db span{
    font-size: 13px;
    color:#98989F;
}
/*底部*/
#part13-a{
    width: 100%;
    height: 60px;
    background-color: #F3F4F5;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    border-bottom: 1px #DFE0E0 solid;
}
#part4a-a{
    width: 12%;
    height: 80%;
    background-color: #E0007C;
    border-radius: 25%;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
#part4a-b{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}
#part4a-b span{
    font-size: 14px;
    color: #222222;
}
#part4a-c{
    width: 20%;
    height: 50%;
    border: 1px #CF3E8E solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #CF3E8E;
}
#part13-b{
    width: 100%;
    height: 180px;
    background-color: #F3F4F5;
}

#part4b-a{
    width: 100%;
    height: 30%;
    /*background-color: #157efa;*/

}
#part4b-b{
    /*display: block;*/
    font-size: 15px;
    color:#585C64;
    margin-left: 5%;
    margin-top: 3%;
    float: left;


}
#part4b-c{
    font-size: 15px;
    color:#585C64;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
#part4b-d{
    font-size: 15px;
    color:#585C64;
    float: right;
    margin-right: 10%;
    margin-top: 3%;
}
#part4b-f{
    font-size: 15px;
    color:#585C64;
    float: right;
    margin-right: 2%;
    margin-top: 3%;
}
#part4ba{
    width: 100%;
    height: 70%;
}
#part4ba-a{
    width: 100%;
    text-align: center;
}
#part4ba-a span{
    font-size: 12px;
    color: #CCCCD4;
}
#part4ba p{
    margin-top: 2px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #CCCCD4;
}
#part4ba-b{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;
}
#part4ba-b span{

    font-size: 12px;
    color: #CCCCD4;
}
#part4ba-b img{

    width:5%;
    height: 75%;
}
#part14{
    width: 100%;
    height: 70px;
    background-color: white;
    display: flex;
    align-items: center;
    position: fixed;
    bottom: 0;
    z-index: 99;
}
#part14a{
    width: 22.8%;
    height:60%;
    border: 2px #F0F0F0 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4%;
}
#part14a img{
    /*width: 28%;*/
    /*height:50%;*/
    width: 70%;
    height:100%;
}
#part14b{
    width: 67%;
    height:64%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: white;
    background-color: #DE3D96;
    margin-left: 2%;
}