#total{
    background-color: #FAFAFA;
}
#part{
    width:100%;
    height:50px;
    background-color: #FFFFFF;
    /*background-color: pink;*/
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#part input{
    width:85%;
    height: 60%;
    padding-left: 3%;
    outline: none;
    background-color: #F3F4F4;
    border: none;
    border-radius: 5px;
}

#part input::placeholder{
    font-size: 14px;
    color: #98989E;
    margin-left: 4%;

}
#part img{
    width: 4.5%;
    height: 35%;
    position: absolute;
    top:32%;
    right:10%;
}
/*第二部分*/
#part2{
     width: 100%;
     height: 133px;
 }
#part2 img{
    width: 100%;
    height: 100%;
}
#part3{
    width: 100%;
    height: 340px;
    position: relative;
}
#part3-a{
    width: 100%;
    height: 340px;
}
#part3-a img{
    width: 100%;
    height: 100%;
}
#part3a{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:2.3%;
    left:5.5%;
}
.photo{
    width: 100%;
    height: 100%;
    border-radius: 50%;

}
.part3a-a{
    font-size: 14px;
    color:#4D484D;
    margin: 0;
    text-align: center;
    margin-top: 4%;
}
#part3b{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:2.3%;
    left:29.5%;
}
#part3c{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:2.3%;
    right:29.5%;
}
#part3d{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:2.3%;
    right:5.5%;
}
#part3e{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:35.3%;
    left:5.5%;
}
#part3f{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:35.3%;
    left:29.5%;
}
#part3g{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:35.3%;
    right:29.5%;
}
#part3h{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:35.3%;
    right:5.5%;
}
#part3j{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:68.3%;
    left:5.5%;
}
#part3k{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:68.3%;
    left:29.5%;
}
#part3m{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:68.3%;
    right:29.5%;
}
#part3n{
    width: 17.2%;
    height:20%;
    position: absolute;
    top:68.3%;
    right:5.5%;
}
/*特惠商品*/
#part4{
    width: 100%;
    height:160px;
    position: relative;
}
#part4 img{
    width: 100%;
    height:100%;
}
#part4-a{
    width:22.3%;
    height:75%;
    background-color: #157efa;
    background-image: url(../images/goods/part4/olay.webp);
    background-size:100% 100%;
    position: absolute;
    top:14%;
    right:28%;
    border-radius: 10%;
    animation: my 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    backface-visibility:hidden;
}
.part4a{
    width: 54%;
    height:21.5%;
    position: absolute;
    top:50%;
    left:25%;

}
.part4a p{
    font-size: 12px;
    color:#333132;
    margin: 0;
    text-align: center;
    /*margin-left: 10%;*/
}

#part4-b{
    width:22.3%;
    height:75%;
    background-color: #157efa;
    background-image: url(../images/goods/part4/lc.webp);
    background-size:100% 100%;
    position: absolute;
    top:14%;
    right:28%;
    border-radius: 10%;
    animation: my2 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    backface-visibility:hidden;
}
#part4-c{
    width:22.3%;
    height:75%;
    background-color: #157efa;
    background-image: url(../images/goods/part4/cz.webp);
    background-size:100% 100%;
    position: absolute;
    top:14%;
    right:3%;
    border-radius: 10%;
    animation: my3 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    backface-visibility:hidden;
}
#part4-d{
    width:22.3%;
    height:75%;
    background-color: #157efa;
    background-image: url(../images/goods/part4/lankou.webp);
    background-size:100% 100%;
    position: absolute;
    top:14%;
    right:3%;
    border-radius: 10%;
    animation: my4 3s;
    animation-timing-function: ease-in-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    backface-visibility:hidden;
}

@keyframes my {
    from {
        background-image: url(../images/goods/part4/olay.webp);
        transform: rotateY(0deg)
    }
    to {
        background-image: url(../images/goods/part4/lc.webp);
        transform: rotateY(180deg);
    }
}
@keyframes my2 {
    from{ background-image: url(../images/goods/part4/olay.webp); transform:rotateY(180deg)}
    to{
        background-image: url(../images/goods/part4/lc.webp);transform:rotateY(0deg);
    }
}
@keyframes my3 {
    from {
        background-image: url(../images/goods/part4/cz.webp);
        transform: rotateY(0deg)
    }
    to {
        background-image: url(../images/goods/part4/lankou.webp);
        transform: rotateY(180deg);
    }
}
@keyframes my4 {
    from{ background-image: url(../images/goods/part4/cz.webp); transform:rotateY(180deg)}
    to{
        background-image: url(../images/goods/part4/lankou.webp);transform:rotateY(0deg);
    }
}

/*双十一*/
#part5{
    width:100%;
    height: 50px;
}
#part5 img{
    width:100%;
    height: 100%;
}
#part6{
    width: 100%;
    height:187px;
    position: relative;

}
#part6b{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#part6a{
    width: 100%;
    height:100%;
}
#part6-a{
    width:30%;
    height:86%;
    background-color: white;
    position:absolute;
    top:8%;
    left:3.5%;
}

#part6-a img{
    width:100%;
    height:73.5%;
}
.part6-b{
   font-size: 16px;
    color:#222222;
    margin:0px;
   text-align: center;
}
.part6-c{
    font-size: 12px;
    color:#557A9D;
    margin:0px;
    text-align: center;
}
#part6-d{
    width:30%;
    background-color: white;
    height:86%;
    position:absolute;
    top:8%;
    left:35%;
}
#part6-d img{
    width:100%;
    height:73.5%;
}
#part6-e{
    width:30%;
    height:86%;
    background-color: white;
    position:absolute;
    top:8%;
    right:3.5%;
}
#part6-e img{
    width:100%;
    height:73.5%;
}
/*商品导航*/
#part7{
    width: 100%;
    height:58px;
    /*background-color: white;*/
    display: flex;
    justify-content: space-around;
    align-items: center;


}
#part7a{
    width: 100%;
    height:58px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /*position: fixed;*/
    /*bottom: 0;*/
    /*z-index:99;*/
    /*background-color: #157efa;*/
}
#part7-a{
    width:16%;
    height: 90%;
    border-bottom: 2px #E4007F solid;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part7-a span{
    font-size: 15px;
    line-height: 100%;
}
.part7-b{
    width:16%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.part7-b span{
    font-size: 15px;
    color:#646464;
    line-height: 100%;
}
/**/
#part8{
    width:100%;
    height:46px;
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom:3%;
}
.part8a{
    width:18%;
    height:50%;
    /*border-left:3px #E4007F solid;*/
    border-left:2px #EDEDED solid;
    position: relative;
    text-align: center;

}
#part8a span{
    font-size: 14px;
    line-height: 100%;
}
.part8a-a{
    width: 15%;
    height:65%;
    position: absolute;
    top:-12%;
    left:75%;
    }
.part8a-a img{
    width: 100%;
    height:100%;
}
.part8a-b{
    width: 15%;
    height:50%;
    position: absolute;
    bottom:12%;
    left:75%;
}
.part8a-b img{
    width: 100%;
    height:100%;
}
#part8a-c{
    width: 13%;
    height:60%;
    position: absolute;
    top:12%;
    left:70%;
}
#part8a-c img{
    width: 100%;
    height:100%;
}
#part8b{
    width:25%;
    height:50%;
    /*border-left:3px #E4007F solid;*/
    border-left:1px #EDEDED solid;
    position: relative;
    text-align: center;

}
#part8c{
    width:25%;
    height:50%;
    border-left:1px #EDEDED solid;
    border-right:1px #EDEDED solid;
    position: relative;
    text-align: center;

}
#part8a-d{
    width: 15%;
    height:60%;
    position: absolute;
    top:12%;
    left:70%;
}
#part8a-d img{
    width: 100%;
    height:100%;
}
/*商品*/
.part9{
    width: 100%;
    height: 240px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2%;


    /*background-color: #E4007F;*/
}
.part9a{
    width:31%;
    height:100%;
    background-color: white;
    /*background-color: #157efa;*/
}
.part9a-a{
    width: 92%;
    height: 65%;
    margin-left: 3%;
}
.part9a-a img{
    width: 100%;
    height: 100%;
}
.part9a-b{
    width: 100%;
    height:17.5%;
    display: flex;
    /*justify-content: space-around;*/
    align-items: center;
}
.part9a-b-a{
    display: block;
    width:36%;
    height:40%;
   background-image: url(../images/goods/part9/bj.webp);
    font-size: 12px;
    background-size: 100%;
    text-align: center;
    color:#FFFFFF;
    margin-left: 7%;
}
.part9a-b-b{
    font-size: 14px;
    text-align: center;
    color:#222222;
    font-weight: bold;
    margin-left: 3%;

}
.part9a-b-c{
    font-size: 10px;
    text-align: center;
    color:#98989F;
    font-weight: bold;
    margin-top: 5%;
    margin-left:3%;
}
.part9a-c{
    width: 100%;
    height:17.5%;
    margin-left: 8%;
    margin-top: -5%;

}
.part9a-c span{
    font-size: 14px;
    /*text-align: center;*/
    color:#585C64;
}
#part10{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part10a{
    width:52%;
    height:67%;
    background-color: #E8439E;
    display: flex;
    justify-content: center;
    align-items: center;

}
#part10a span{
    font-size: 14px;
    color:white;

}
#part10a img{
    width: 8%;
    height:50%;
    margin-left: 2%;
}