#part{
    height: 100px;
    width: 100%;
}
/*头部导航栏*/
#head{
    width: 100%;
    height: 50px;
    background-color:#fafaf9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index:99;
}
#head-a {
    width:50px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}
#head-a img{
    width:60%;
    height:60%;
}
#head-b{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#head-b input{
    width: 85%;
    height:70%;
    color: #98989f;
    border-radius: 20px;
    background-color: #F3F4F5;
    outline: none;
    border: 1px #E7E7E7 solid;
    padding-left: 15px;
}
#head-b input::placeholder{
    color: #AFAFB4;
}
#head-c {
    width:40px;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
}
#head-c img{
    width:70%;
    height:50%;

}
/*菜单栏*/
#head2{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fafaf9;
    position: fixed;
    top:50px;
    z-index:99;
    padding-bottom: 1px;
}
#head2-a{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

#head2-b {
    font-size: 14px;
    color:#d34ba8;
    height:100%;
    display: flex;
    justify-content:center ;
    align-items: center;
    border-bottom: 4px #d34ba8 solid ;
    /*border-top: 4px  transparent solid  ;*/
    margin-top: 2px;
}
.head2-c{
    font-size: 14px;
    color:#585c64;
    height:100%;
    display: flex;
    align-items: center;
 }
#head2-d{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 2px #CCCCCC solid;
}
#head2-d img{
    width: 40%;
    height: 45%;
}
/*宣传大图*/
#xc{
    width:100%;
    height:20%;
    display:flex;

}
#xc img{
    width:100%;
    height:100%;
}
/*分类栏*/
#zfl{
    width: 100%;
    background-color: #F3F4F6;
    /*padding-bottom: 20px;*/
    height:240px;

}
.fl{
    width:100%;
    height:110px;
    display:flex;
    justify-content: space-around;
    align-items: center;

}
.fl-a{
    width: 16.5%;
    height: 60%;
}
.fl-b{
    width: 100%;
    height: 100%;
    background-color: #F0E9D9;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.fl-b img{
    width: 100%;
    height: 167%;
    position: absolute;
    top:-8px;
}
.fl-c{
    text-align: center;
    font-size: 12px;
    color:#3E3E3E;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 20px;
    white-space:nowrap;
    overflow: hidden;
}
#fl-d{
    width: 100%;
    height: 100%;
    background-color: #F0E9D9;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#fl-d img{
    width:66px;
    height: 82px;
    position: absolute;
    /*top:-5px;*/
}

#fl-e{
    text-align: center;
    width: 100%;
    font-size: 12px;
    color:#3E3E3E;
    font-weight: bold;
    background-color: #F3F4F6;
    letter-spacing: 1px;
    margin-top: 3px;
}
/*优惠宣传栏*/
#yh{
    width:100%;
    height:300px ;
    /*margin-top: 15px;*/
}
#yh-a{
    width: 100%;
    height: 140px;
    /*height: auto;*/
}
#yh-a img{
    width: 100%;
    height: 100%;
}
#yh-b{
    width: 100%;
    height: 160px;
    position: relative;
}
#yhb{
    width: 100%;
    height:100%;
}

#yh-c{
     width:21.5%;
     height:56%;
     position: absolute;
     top:10%;
     left:4.7%;

 }
#yh-c img{
    width: 100%;
    height: 100%;
}
#yh-d{
    width:22%;
    height:57.5%;
    position: absolute;
    top:9.3%;
    left:27.43%;

}
#yh-d img{
    width: 100%;
    height: 100%;
}
#yh-e{
    width:22%;
    height:57.5%;
    position: absolute;
    top:9.3%;
    left:50.8%;
}
#yh-e img{
    width: 100%;
    height: 100%;
}
#yh-f{
    width:22%;
    height:57.5%;
    position: absolute;
    top:9.3%;
    right:4.7%;
}
#yh-f img{
    width: 100%;
    height: 100%;
}
/*限时快抢*/
#part6{
    position: relative;
}
#part7{
    width: 100%;
    height:300px;

}
#part7 img{
    width: 100%;
    height: 100%;
}
#part8{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: absolute;
    top:36%;
}
.part6-a{
    width:20%;
    height:200px;
}
.part6-b{
    width:100%;
    height:50%;
}
.part6-b img{
    width: 100%;
    height: 100%;
}
.part6-c{
    width: 100%;
    height:40px;
    /*background-color: #E4007F;*/
    display: flex;
    justify-content: center;
}
.part6-c img{
    width: 40%;
    height: 70%;
}
.part6-d{
    width: 100%;
    height: 40px;
    /*background-color: #157efa;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.part6-d p{
    width:40px;
    height: 70%;
    border-radius: 20px;
    background-color: #D166C7;
    font-size: 12px;
    color: #F9EFF8;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.part6-d span{
    font-size: 16px;
    color:#222222;
    margin-left: 5px;
}
/*最后疯抢*/
#fq{
    width: 100%;
    position: relative;
}
#fq-a{
    width:100%;
    height:290px;
}
#fq-a img{
    width:100%;
    height:100%;
}
#fq-b{
    width: 100%;
    height: 200px;
    position: absolute;
    /*background-color: #157efa;*/
    top:30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fq-c{
    width:28%;
    height: 200px;
    position: relative;

}
.fq-c-a{
    width:100%;
    height:140px;
}
.fq-c-a img{
    width:100%;
    height:100%;
}
.fq-c-b{
    width:80%;
    height:25%;
    background-color: white;
    opacity: 0.5;
    position: absolute;
    top:40%;
    left:10%;

}
.fqc-a{
    width:85%;
    height:70%;
    display: flex;
    justify-content: center;
    margin: auto;
}
.fqc-a img{
    width:100%;
    height:100%;
}
.fqc-b{
    width:90%;
    height: 30%;
    text-align: center;

}
.fqc-b span{
    font-size: 14px;
    color:#585C64;
}
.fq-c-d{
    width: 100%;
    height: 40px;
    /*background-color: #157efa;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.fq-c-d p{
    width:45%;
    height: 45%;
    border-radius: 20px;
    background-color: #D166C7;
    font-size: 10px;
    color: #F9EFF8;
    /*text-align: center;*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.fq-c-d span{
    font-size: 16px;
    color:#000000;
    margin-left: 5px;
}
/*今日特卖*/
#tm{
    width:100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
    letter-spacing: 1px;

}
#tm span{
    font-size: 17px;
    font-weight: bold;
    color:#343535;
}
.tmsp{
    width:100%;
    height: 300px;
    background-color: #F3F4F6;
    margin: auto;

}
.tmsp-a{
    width:94%;
    height: 65%;
    margin: auto;

}
.tmsp-a img{
    width:100%;
    height: 100%;
}
.tmsp-b{
    width:94%;
    height: 25%;
    background-color:white;
    margin: auto;
    padding-top:15px ;
    position: relative;
    display: flex;

}
.tmsp-c{
   width:260px;
    color:#222222;
    font-size: 16px;
    font-weight: bold;
    margin-left: 10px;
    position: absolute;
    left:2%;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-d{
    color:#585C64;
    font-size: 16px;
    position: absolute;
    right:15px;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-d-a{
    color:#FFFFE6;
    font-size: 12px;
    margin-left: 2px;
    background-color: #585C64;
    width: 20px;
    height: 20px;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-e{
    font-size: 14px;
    color: #585C64;
    margin-left: 10px;
    /*border: 1px black solid;*/
    position: absolute;
    top:50%;
    left:2%;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-f{
    font-size: 14px;
    color: #585C64;
    position: absolute;
    top:50%;
    left:24%;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-g{
    font-size: 14px;
    color: #585C64;
    position: absolute;
    top:50%;
    left:26%;
    white-space:nowrap;
    overflow: hidden;
}
.tmsp-e span{
    color:#E03DB1;
}
#db{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3F4F6;
}
#db-a{
    width:52%;
    height:67%;
    background-color: #E8439E;
    display: flex;
    justify-content: center;
    align-items: center;

}
#db-a span{
    font-size: 14px;
    color:white;

}
#db-a img{
    width: 8%;
    height:50%;
    margin-left: 2%;
}