/*头部品牌图片*/
#head{
    width: 100%;
    height:170px;
    min-height: 170px;
    background-image: url(../images/login/bj.jpg);
    display:flex ;
    justify-content: center;
    align-items: center;
    /*background-repeat: no-repeat;*/
}
#head-a {
    width:125px;
    height: 50px;
}
#head-a img{
    width:100%;
    height: 100%;
}
/* 登录框*/

.head2{
    width:100%;
    height: 52px;
    /*background-color: #0080FF;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #e7e7e7 solid;
}
#h-a{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#h-a span{
    font-size: 16px;
    color:#000000;
    font-weight: bold;
    letter-spacing: 1px;
}
#h-b{
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
}
#h-b input{
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-top: 3px;
}
#h-b input::placeholder{
    color: #CCCCCC;
}
#h-c{
    width:20%;
    height:100%;
    border-left:1px #e7e7e7 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#98989F;
}
/*验证码*/
#h-c{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#h-c span{
    font-size: 16px;
    color:#000000;
    font-weight: bold;
    letter-spacing: 1px;
}
#h-d{
    width:50%;
    height: 100%;
    display: flex;
    align-items: center;
}
#h-d input{
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-top: 3px;
}
#h-d input::placeholder{
    color: #CCCCCC;
}
#h-e{
    width:30%;
    height:100%;
    border-left:1px #e7e7e7 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#98989F;
}
#dl{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
     margin-top: 40px;

}
#dl a{
    width:95%;
    height:100%;
    background-color: #caccd2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#ffffff;
}
#dl a:hover{
    color:#EC0183;
}
/*注册条款*/
#tk{
    width:100%;
    height: 30px;
    margin-top: 20px;

}
#tk-a{
    width: 24px;
    height:24px;
    float:left;
    margin-left: 30px;
}
#tk-b{
    width:80%;
    height: 100%;
    color:#98989F;
    font-size: 12px;
    float:left;
    margin-top: 2px;
}
#tk-c{
    color:#157efa;
}
/*分隔栏*/
#part{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
}

.part-a{
    width: 47%;
    height: 0px;
    border: 1px #DBDBDB solid;

}
#part-b{
    width:6%;
    font-size: 14px;
    text-align: center;
    color: #DBDBDB;
}
/*切换登录方式*/
#part2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 60px 0px;
}
#part2-a{
    width:90px;
    height: 40px;
    border: 1px #E4007F solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part2-a a{
    font-size: 16px;
    color: #E4007F;
}