
#head{
    width: 100%;
    height:170px;
    min-height: 170px;
    background-image: url(../images/login/bj.jpg);
    display:flex ;
    justify-content: center;
    align-items: center;
    /*background-repeat: no-repeat;*/
}
#head-a {
    width:125px;
    height: 50px;
}
#head-a img{
    width:100%;
    height: 100%;
}

.head2{
    width:100%;
    height: 52px;
    /*background-color: #0080FF;*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px #e7e7e7 solid;
}
#h-a{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#h-a span{
    font-size: 16px;
    color:#000000;
    font-weight: bold;
    letter-spacing: 1px;
}
#h-b{
    width:80%;
    height: 100%;
    display: flex;
    align-items: center;
}
#h-b input{
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-top: 3px;
}
#h-b input::placeholder{
    color: #CCCCCC;
}
#h-c{
    width:20%;
    height:100%;
    border-left:1px #e7e7e7 solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#98989F;
}
/*验证码*/
#h-c{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
#h-c span{
    font-size: 16px;
    color:#000000;
    font-weight: bold;
    letter-spacing: 1px;
}
#h-d{
    width:60%;
    height: 100%;
    display: flex;
    align-items: center;
}
#h-d input{
    outline: none;
    border: none;
    text-align: left;
    font-size: 16px;
    margin-top: 3px;
}
#h-d input::placeholder{
    color: #CCCCCC;
}
#h-e{
    width:20%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color:#98989F;

}
#h-e img{
    width: 30%;
    height:30%;
    margin-right: 1%;
}
#dl{
    width:100%;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}
#dl div{
    width:95%;
    height:100%;
    background-color: #caccd2;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#dl a{
    font-size: 16px;
    color:#ffffff;
    letter-spacing: 5pxt;
}
#dl a:hover{
    color:deepskyblue;
}
#tk{
    width:100%;
    height: 20px;
    margin-top: 20px;

}
#tk-b{
    width:100%;
    height: 100%;
    color:#98989F;
    font-size: 14px;
    float:left;
    margin-top: 2px;
    text-align: right;
}
#tk-c{
    color:#157efa;
    margin-right: 5%;
    /*text-align: right;*/
}
#part{
    width:100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.part-a{
    width: 47%;

    border: 1px #DBDBDB solid;

}
#part-b{
    width:6%;
    font-size: 14px;
    text-align: center;
    color: #DBDBDB;
}
#part2{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0px 60px 0px;
}
#part2-a{
    width:30%;
    height: 40px;
    border: 1px #E4007F solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part2-a a{
    font-size: 14px;
    color: #E4007F;
}