#part{
    width:100%;
    height:300px;
    /*background-color: #696C73;*/
    position: relative;

}
#part-a{
    width: 100%;
    height:72%;
}
#part-a img{
    width:100%;
    height:100%;
}
#part-b{
    width: 20%;
    height:25.6%;
    border: 3px #B79E68 solid;
    border-radius: 50%;
    position: absolute;
    top:15.5%;
    left:38.8%;
}
#part-b img{
    width:100%;
    height:100%;
}
#part-c{
    width: 6%;
    height:7%;
    /*border: 3px #A58D58 solid;*/
    /*border-radius: 50%;*/
    position: absolute;
    top:6%;
   right:4%;
}
#part-c img{
    width:100%;
    height:100%;
}
#part-d{
    width: 6%;
    height:7%;
    /*border: 3px #A58D58 solid;*/
    /*border-radius: 50%;*/
    position: absolute;
    top:6%;
    left:4%;
}
#part-d img{
    width:100%;
    height:100%;
}
#part-e{
    width: 30%;
    height:10%;
    /*border: 3px #A58D58 solid;*/
    /*border-radius: 50%;*/
    position: absolute;
    top:44%;
    left:34%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#part-e img{
    width:22%;
    height:88%;
}
#part-e span{
    font-size: 12px;
    color: #98989F;
}
#part-f{
    width: 30%;
    height:10%;
    /*border: 3px #A58D58 solid;*/
    /*border-radius: 50%;*/
    position: absolute;
    top:55%;
    left:39%;
}
#part-f span{
    font-size: 14px;
    color: #222222;
}
#part-g{
    width: 100%;
    height: 28%;
    /*background-color: #E4007F;*/
    border-bottom: 1px #CCCCCC solid;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.part-g-a{
    width: 20%;
    height:80%;
    /*border: 3px #A58D58 solid;*/
    /*border-radius: 50%;*/
    /*position: absolute;*/
    /*top:55%;*/
    /*left:39%;*/
}
.part-g-b{
    width: 53%;
    height:60%;
    /*border: 3px #A58D58 solid;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FCF9F1;
    /*position: absolute;*/
    /*top:55%;*/
    /*left:39%;*/
}
.part-g-b img{
    width:60%;
    height:60%;
}
.part-g-a p{
   font-size: 12px;
    color: #585C64;
   margin-left: 5%;
    margin-bottom: 0px;
    margin-top: 10%;
}
/*第二部分*/
.part2{
    width: 100%;
    height: 50px;
    border-bottom: 1px #CCCCCC solid;
}
#part2a{
    width: 100%;
    height: 50px;
    border-bottom: 1px #CCCCCC solid;
    position: relative;
}
#part2a-a{
    width: 10%;
    height: 35%;
   background-color: #F02387;
    position: absolute;
    top:30%;
    right:15%;
    font-size: 12px;
    color:#FCDDEC;
    display: flex;
    align-items: center;
    justify-content: center;

}
.part2-a{
    width: 75%;
    height: 100%;
    /*background-color: #E4007F;*/
    float:left;
    display: flex;
    align-items: center;
}

.part2-a p{
    width: 100%;
    font-size: 16px;
    color:#555555;
    margin-left: 7%;
}

.part2-b{
    width:20% ;
    height:100%;
    float:right;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: #157efa;*/
}
.part2-b img{
    width:40% ;
    height:50%;
}
#part3{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}

#part3 a{
    font-size: 16px;
    color: #555555;
    letter-spacing: 1px;
}
/*第四部分*/
#part4-a{
    width: 100%;
    height: 60px;
    background-color: #F3F4F5;
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    border-bottom: 1px #DFE0E0 solid;
}
#part4a-a{
    width: 12%;
    height: 80%;
    background-color: #E0007C;
    border-radius: 25%;
    font-size: 14px;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
}
#part4a-b{
    width: 55%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 3%;
}
#part4a-b span{
    font-size: 14px;
    color: #222222;
}
#part4a-c{
    width: 20%;
    height: 50%;
    border: 1px #CF3E8E solid;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #CF3E8E;
}
#part4-b{
    width: 100%;
    height: 180px;
    background-color: #F3F4F5;
}

#part4b-a{
    width: 100%;
    height: 30%;
    /*background-color: #157efa;*/

}
#part4b-b{
    /*display: block;*/
   font-size: 15px;
    color:#585C64;
    margin-left: 5%;
    margin-top: 3%;
    float: left;


}
#part4b-c{
    font-size: 15px;
    color:#585C64;
    float: left;
    margin-left: 5%;
    margin-top: 3%;
}
#part4b-d{
    font-size: 15px;
    color:#585C64;
    float: right;
    margin-right: 5%;
    margin-top: 3%;
}
#part4ba{
    width: 100%;
    height: 70%;
}
#part4ba-a{
    width: 100%;
    text-align: center;
}
#part4ba-a span{
    font-size: 12px;
    color: #CCCCD4;
}
#part4ba p{
    margin-top: 2px;
    width: 100%;
    text-align: center;
    font-size: 12px;
    color: #CCCCD4;
}
#part4ba-b{
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 7%;


}
#part4ba-b span{

    font-size: 12px;
    color: #CCCCD4;
}
#part4ba-b img{

    width:5%;
    height: 75%;
}
